.tabmenurespond {
  width: 50%;
  background: #fff;
  z-index: 1000;
  transform: translateX(-110%);
  transition: 1s;
  position: fixed;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  overflow: auto;

}

.tabmenurespond.active {
  transform: translateX(0%);
}

.tabmenurespond .handle_close {
  display: flex;
  justify-content: center;
  width: 40px;
  height: 40px;
  align-items: center;


}

.tabmenurespond .handle_close button {
  width: 100%;
  height: 100%;
  margin-top: 20px;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  background: #212A3E;
  color: #fff;
  transition: 0.2s;
}

.tabmenurespond .handle_close button:hover {
  background: #DB005B;

}
.tabmenurespond .handle_close button:active{
  background: #98EECC;
}

.tabmenurespond nav ul {
  width: 100%;

}


.tabmenurespond nav ul li {
  width: 90%;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 10px;
  /* margin-bottom: 10px; */
}

.tabmenurespond nav ul li a {
  font-size: 0.7rem;
}



