* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background: #F8F6F4;

}

a {
    text-decoration: none;
}

.header .handle_menu {
    width: 100%;
    display: flex;
font-family: 'Oswald', sans-serif;
}

.header nav {
    width: 100%;
    height: 100%;
    padding: 0px 80px;
    margin-top: 10px;

}

/* .logo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 999;
} */

.handle_logo {
    width: 100%;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    border-bottom: 1px rgb(206, 204, 204) solid;
    justify-content: space-evenly;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #F8F6F4;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 999;

}

.fake {
    height: 120px;
}

.handle_logo img {
    width: 150px;
}

.handle_info {
    display: flex;
}

.menu_li {
    color: #F9F5F6;
    font-weight: bold;
    width: 100%;
    height: 30px;
    /* border-right: solid 1px black; */
    /* box-shadow: 2px 0px 0px 0px rgba(0, 0, 0, 0.5); */
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px black;
    border-radius: 5px;
    overflow: hidden;
}

.menu_li:hover {
    background: #FF6969;
}

.menu_li a {
    color: black;
    width: 100%;
    height: 30px;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_categories {
    border: solid 1px black;
    width: 250px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #212A3E;
    color: #fff;

}

.menu_icon {
    margin-right: 5px;
    font-size: 1.5rem;
}

.active {
    transform: translateY(-100%);
}

.header .search_area p {
    background: #DDE6ED;
    display: flex;
    border-radius: 100px;
    align-items: center;
    width: 200%;
    height: 40px;
    overflow: hidden;
}

.header .search_area p input {
    width: 90%;
    height: 100%;
    outline: none;
    border: none;
    padding: 0px 20px;
}

.header .search_area {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.header .handle_contact {
    display: flex;
    align-items: center;
    font-family: 'Work Sans', sans-serif;

}

.header .phone_number {
    font-size: 1.2rem;
   
}

.handle_bestselling {
    width: 250px;
    margin-top: 30px;


}

.handle_bestselling .title {
    border: solid 1px black;
    width: 250px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #212A3E;
    color: #fff;
}


.cate_li {
    width: 250px;
    margin-top: 10px;
    position: relative;
    font-family: 'Oswald', sans-serif;
}

.p-megamenu.p-megamenu-vertical {
    width: 100%;
}

.handle_toggle img {
    width: 30px;
    cursor: pointer;
    height: 30px;
}

.header .handle_respondmenu {
    display: flex;
    width: 100%;
}

.handle_user {
    display: flex;
}

.header .handle_path {
    overflow: hidden;
    width: 100%;
    flex-wrap: wrap;
    margin-left: 5px;
    margin-top: 10px;
}

@media screen and (max-width: 600px) {
    /* .header .handle_categories {
        display: none;
    }

    .cate_li {
        display: none;
    } */

    /* .phone_number {
        display: none;
    } */

    /* .customer_icon {
        display: none;
    } */

    .handle_slider {
        width: 50px;
    }

    .cardproduct_img {
        width: 100%;
        float: left;
    }

    .header nav {
        padding: 0px 10px;
    }

    .header .handle_path {
        margin-left: 0px;
    }
}