* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background: #F8F6F4;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

.header .handle_menu {
    width: 100%;
    display: flex;
    font-family: 'Oswald', sans-serif;
}

.header nav {
    width: 100%;
    height: 100%;
    padding: 0px 80px;
    margin-top: 10px;

}

.handle_logo {
    width: 100%;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    border-bottom: 1px rgb(206, 204, 204) solid;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 999;

}

.fake {
    height: 120px;
}

.handle_logo img {
    width: 150px;
    height: 100%;

}

.handle_logo .logo_link {
    height: 100%;
}

.handle_info {
    display: flex;
}

.menu_li {
    color: #F9F5F6;
    font-weight: bold;
    width: 100%;
    height: 30px;
    /* border-right: solid 1px black; */
    /* box-shadow: 2px 0px 0px 0px rgba(0, 0, 0, 0.5); */
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px black;
    border-radius: 5px;
    overflow: hidden;
    display: inline-block;
    margin: 0 0.5rem;
    transition: 0.2s;
}

.handle_respondmenu .menu_li.li1 {
    animation: bounce;
    animation-duration: 1s;
}

.handle_respondmenu .menu_li.li2 {
    animation: bounce;
    animation-duration: 1s;
    animation-delay: 0.1s;
}

.handle_respondmenu .menu_li.li3 {
    animation: bounce;
    animation-duration: 1s;
    animation-delay: 0.2s;
}

.handle_respondmenu .menu_li.li4 {
    animation: bounce;
    animation-duration: 1s;
    animation-delay: 0.3s;
}

.handle_respondmenu .menu_li.li5 {
    animation: bounce;
    animation-duration: 1s;
    animation-delay: 0.4s;
}

.handle_respondmenu .menu_li.li6 {
    animation: bounce;
    animation-duration: 1s;
    animation-delay: 0.5s;
}

.menu_li:hover {
    background: #FF6969;
}

.menu_li a {
    color: black;
    width: 100%;
    height: 30px;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_categories {
    border: solid 1px black;
    width: 250px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #212A3E;
    color: #fff;
    animation: backInDown;
    animation-duration: 0.5s;
}

.menu_icon {
    margin-right: 5px;
    font-size: 1.5rem;
}

.active {
    transform: translateY(-100%);
}

.header .search_area .handle_search_input {
    background: #DDE6ED;
    display: flex;
    border-radius: 5px;
    align-items: center;
    width: 200%;
    height: 40px;
    overflow: hidden;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

}

.header .search_area {
    position: relative;
}

.header .search_info {
    position: absolute;
    top: 100%;
    width: 100%;
    font-family: 'Oswald', sans-serif;
    overflow: auto;
    max-height: 500px;
}


.header .search_area .search_info ul {
    background: #fff;
}

.header .search_area .search_info ul a {
    display: flex;
    align-items: center;
    padding: 10px;
   
}

.header .search_area .search_info ul li {
    list-style: none;

}

.header .search_area .search_info ul a:hover {
    background: #EEEEEE;
}

.header .search_area .handle_result_name {
    font-size: 1rem;
    width: 100%;
    padding-left: 10px;
    display: flex;
    align-items: center;
    color: #000;
}

.header .search_area .search_info img {
    width: 80px;

}

.header .search_area p input {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    padding: 0px 20px;
    background: #F8F6F4;
}

.header .search_area {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.header .handle_contact {
    width: 30%;
    display: flex;
    align-items: center;
    font-family: 'Work Sans', sans-serif;

}

.header .phone_number {
    font-size: 1.2rem;
    width: 50%;
}

.header .search_icon {
    width: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.handle_cate_li .handle_bestselling {
    width: 250px;
    margin-top: 30px;
}

.cate_li .title {
    border: solid 1px black;
    width: 250px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #212A3E;
    color: #fff;
}


.cate_li {
    width: 250px;
    margin-top: 10px;
    /* position: relative; */
    font-family: 'Oswald', sans-serif;
}

.p-megamenu.p-megamenu-vertical {
    width: 100%;
}

.handle_logo .handle_toggle img {
    width: 30px;
    cursor: pointer;
    height: 30px;
}

.header .handle_respondmenu {
    display: flex;
    width: 100%;
}

.customer_icon {
    transition: 0.2s;
}

.customer_icon:hover {
    color: #FED700;
}

.handle_user {
    display: flex;
}

.handle_user .user_icon {
    transition: 0.2s;
}

.handle_user .user_icon:hover {
    color: #FED700;
}

.header .handle_path {
    overflow: hidden;
    width: 100%;
    flex-wrap: wrap;
    margin-left: 5px;
    margin-top: 10px;
}

.handle_divcartlenght {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #FED700;
    position: absolute;
    top: -25%;
    right: -20%;
    font-size: 0.9rem;
}

.handle_cartlink {
    position: relative;
}

.handle_cartlenght {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 600px) {
    .header .search_area {
        width: 50%;
    }

    .handle_slider {
        width: 50px;
    }

    .cardproduct_img {
        width: 100%;
        float: left;
    }

    .header nav {
        padding: 0px 10px;
    }

    .header .handle_path {
        margin-left: 0px;
    }

    .handle_logo img {
        width: 90px;

    }

    .header .search_area p {
        height: 30px;
    }

    .header .search_area .search_icon {
        font-size: 1rem;
    }

    .header .handle_contact {
        width: 10%;
        margin-right: 10px;
        float: right;
        display: flex;
        align-items: center;
        font-family: 'Work Sans', sans-serif;
    }

    .handle_user {
        float: right;
        margin-right: 20px;
    }

    .header .search_area .handle_result_name {
        font-size: 0.5rem;
        width: 100%;
        padding-left: 10px;
    }

    .header .search_area .search_info img {
        width: 50px;

    }
}

.handle_containdropdown {
    height: 100%;
    transition: 1s;
}

.handle_containdropdown .handle_clientsays .handle_client {
    width: 100%;
}

.handle_containdropdown .handle_bestselling {
    margin-top: 0px;
}

.handle_containdropdown .handle_tabmenu {
    transition: 1s;
    /* transform: translateY(0%); */
    height: 305px;
}

.handle_containdropdown .handle_tabmenu.active1 {
    /* transform: translateY(-100%); */
    height: 0px;
    margin-bottom: 3px;
}

.handle_containdropdown .handle_bestselling {
    width: 100%;
    transition: 1s;

}

.handle_containdropdown .handle_card {
    transition: 1s;
    width: 100%;
    height: 1000px;
}

.handle_containdropdown .handle_card.active3 {
    height: 0px;
}

.handle_containdropdown .cate_li {
    width: 100%;

}

.handle_containdropdown .cate_li .menu_categories {
    width: 100%;
}

.handle_containdropdown .handle_bestselling p {
    width: 100%;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    margin: 0 auto;

}

.handle_containdropdown .handle_bestselling .handle_title {
    font-size: 0.7rem;
    padding-left: 0;
}

.handle_containdropdown .handle_bestselling .handle_title p {
    font-size: 0.7rem;
}

.handle_containdropdown .handle_card .handle_cardbestselling .handle_title .button_addtocart button {
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 3px;
    background: #FED700;
    border: none;
    font-size: 0.65rem;
    transition: 0.3s;
    color: #343F48;
    font-weight: bold;
}



.handle_containdropdown .handle_card .handle_cardbestselling {
    width: 100%;

    height: 200px;
}

.handle_containdropdown .handle_client {
    margin-top: 0px;
    height: 0px;
    overflow: hidden;
    transition: 1s;

    border-radius: 5px;
}

.handle_containdropdown .handle_client.active1 {
    height: 250px;
    /* margin-bottom: 10px; */
}

.handle_containdropdown .handle_client .handle_avatar_respond {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid black;

}

.handle_containdropdown .handle_client .handle_avatar_respond img {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.handle_containdropdown .handle_clientsays .title {
    animation: backInDown;
    animation-delay: 1s;
    animation-duration: 0.5s;
}

.handle_containdropdown .handle_bestselling .title {
    animation: backInDown;
    animation-delay: 0.5s;
    animation-duration: 0.5s;
}