.handle_client {
    width: 250px;
    background: #fff;
    margin-top: 10px;
}

/* .client {
    padding: 20px;
} */

.handle_client .client .handle_avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid black;
    overflow: hidden;
  
}
.padding_client{
    padding: 10px;
}
.handle_client .client .handle_avatar img {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.handle_client .slick-next {
    right: 0px;

}
.handle_client .slick-prev{
    left: 0px;
}
.handle_client .client p{
    height: 120px;
    margin-top: 10px;
   
}